/* COMPONENTS */
@import url(components/banner.css);
@import url(components/buttons.css);
@import url(components/navbar.css);
@import url(components/form.css);
@import url(components/alert.css);
@import url(components/sidebar-menu.css);
@import url(components/modal.css);
@import url(components/avatar.css);
@import url(components/cards.css);
@import url(components/tags.css);
@import url(components/overlay.css);

/* OPEN SANS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');

:root {
  --main-color: #5275FF;
  --main-background-color: #F2F5FA;
  --color-cards: #748F96;
  --color-icons: #949494;
  --color-black: #272727;
  --color-paragraphs: #2C314E;
  --color-hover-btns: #FFE55B;

  /* HOME PAGE COLORS */
  --color-wrapper-featrue: #748F96;
  --color-tags: #3C646C;
  --color-quote-card: #303553;

  /* SECONDARY BTN */
  --seconday-btn: 1px solid #BBBBBB;
  --color-secondary-btn: #BBBBBB;

  /* FONTS */
  --main-font: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

body {
  font-family: var(--main-font);
  margin: 0px;
  font-size: 16px;
  background-color: var(--main-background-color);
}

a {
  text-decoration: none;
}

p {
  line-height: 35px;
}


/* HIDDEN CLASSES AND JS EFFECTS*/
.hidden-effect {
  visibility: none;
  opacity: 0;
  transform: translateY(100px);
}

.hidden-overlay {
  visibility: none;
  opacity: 0;
}

.hidden {
  display: none;
}

.move-up {
  transform: translateY(-189px);
  transition: all 0.2s;
}

.disabled-card {
  opacity: 0.7;
}

/* APP CONFIG */
.application {
  display: flex;
}

.application-content {
  width: 100%;
  margin-right: 40px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.welcome-message {
  font-size: 40px;
  margin-bottom: 0px;
}

.current-date {
  margin: 0px;
}

.small {
  font-size: 14px;
  font-weight: 300;
}

.movements {
  margin-top: 40px;
  width: 50%;
}

.movements-illustration {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.application-img {
  width: 48%;
}

/* HOME PAGE CONFIG */
.wrapper-feature {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-wrapper-featrue);
  height: 400px;
  padding: 40px;
  margin-bottom: 200px;
}

.feature-title {
  font-size: 36px;
  color: white;
  font-size: 36px;
  color: white;
  line-height: 45px;
  margin-top: 10px;
}

.feature-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.feature-info {
  width: 40%;
}

.feature-description {
  color: white;
}

.image {
  width: 50%;
}

.feature-img {
  width: 120%;
}
