/* COMPONENTS */
@import url(components/banner.css);
@import url(components/buttons.css);
@import url(components/navbar.css);
@import url(components/form.css);
@import url(components/alert.css);
@import url(components/sidebar-menu.css);
@import url(components/modal.css);
@import url(components/avatar.css);
@import url(components/cards.css);
@import url(components/tags.css);
@import url(components/overlay.css);

/* OPEN SANS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');

:root {
  --main-color: #844CFF;
  --main-background-color: #F9F6FF;
  --color-icons: #949494;
  --color-hover-btns: #FFE55B;
  --color-withdraws: #d82821;
  --color-deposit: #3f9047;
  --color-cards: #1399FE;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 16px;
  background-color: var(--main-background-color);
}

a {
  text-decoration: none;
}


/* HIDDEN CLASSES AND JS EFFECTS*/
.hidden-effect {
  visibility: none;
  opacity: 0;
  transform: translateY(100px);
}

.hidden-overlay {
  visibility: none;
  opacity: 0;
}

.hidden {
  display: none;
}

.active-btn {
  opacity: 1;
}

.move-up {
  transform: translateY(-200px);
  transition: all 0.5s;
}

.disabled-card {
  opacity: 0.7;
}

/* PAGE CONFIG */
.application {
  display: flex;
  background: #F3F3F3;
}

.application-content {
  width: 100%;
  margin-right: 40px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.welcome-message {
  font-size: 40px;
  margin-bottom: 0px;
}

.current-date {
  margin: 0px;
}

.small {
  font-size: 14px;
  font-weight: 300;
}

.movements {
  margin-top: 40px;
}
