/* COMPONENTS */
@import url(components/banner.css);
@import url(components/buttons.css);
@import url(components/navbar.css);
@import url(components/form.css);
@import url(components/alert.css);
@import url(components/sidebar-menu.css);
@import url(components/modal.css);
@import url(components/avatar.css);
@import url(components/cards.css);
@import url(components/tags.css);
@import url(components/overlay.css);

/* OPEN SANS - ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --main-color: #5275FF;
  --main-background-color: #F2F5FA;
  --background-banner: #303553;
  --color-cards: #748F96;
  --color-icons: #949494;
  --color-black: #272727;
  --color-paragraphs: #474747;
  --color-hover-btns: #FFE55B;

  /* HOME PAGE COLORS */
  --color-wrapper-featrue: #748F96;
  --color-tags: #474E75;
  --color-quote-card: #303553;

  /* SECONDARY BTN */
  --seconday-btn: 1px solid #BBBBBB;
  --color-secondary-btn: #BBBBBB;

  /* FONTS */
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Roboto', sans-serif;
';
}

h1, h2, h3, h4 {
  font-weight: normal;
}

body {
  font-family: var(--main-font);
  margin: 0px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  line-height: 35px;
  color: var(--color-paragraphs);
}

.section-title {
  font-size: 36px;
  font-weight: normal;
}


/* HIDDEN CLASSES AND JS EFFECTS*/
.hidden-effect {
  visibility: none;
  opacity: 0;
  transform: translateY(100px);
}

.hidden-overlay {
  visibility: none;
  opacity: 0;
}

.hidden {
  display: none;
}

.move-up {
  transform: translateY(-189px);
  transition: all 0.2s;
}

.disabled-card {
  opacity: 0.7;
}

/* APP CONFIG */
.application {
  display: flex;
}

.application-content {
  width: 100%;
  margin-right: 40px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.welcome-message {
  font-size: 40px;
  margin-bottom: 0px;
}

.current-date {
  margin: 0px;
}

.small {
  font-size: 14px;
  font-weight: 300;
}

.movements {
  margin-top: 40px;
  width: 50%;
}

.movements-illustration {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.application-img {
  width: 48%;
}

/* HOME PAGE CONFIG */

section {
  margin: 200px 0px 200px 0px;
}

#why-bank-app {
  background-image: /*linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(48, 53, 83, 0.3) 0.01%),*/ url(../images/why-bank-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  padding: 38px 0px 38px 0px;
}

.wrapper-feature, .wrapper-feature-background {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 40px;
  margin-bottom: 200px;
}

.wrapper-feature-background {
  background: var(--background-banner);
  color: white;
}

.wrapper-feature-background p:last-child {
  color: #cbcbcb;
}

.feature-title {
  font-size: 36px;
  font-size: 36px;
  line-height: 45px;
  margin-top: 10px;
}

.feature-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(../images/background-feature.png);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
}

.feature-info {
  width: 30%;
}

.image {
  width: 70%;
}

.feature-img {
  width: 100%;
}

#opinions {
  background-image: url(../images/background-opinion.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 232px;
}

/* MAP */

#map {
  background-image: url(../images/world-map.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}


