.avatar {
  background: gray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.transfer-modal-confirmation .avatar {
  width: 100px;
  height: 100px;
}
