.btn-start {
  background: var(--main-color);
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  transition: all 0.5s;
}

.btn-start:hover {
  background: #6425f7;
  transform: translateY(-14px);
  transition: transform 0.5s;
}

.banner-content .btn-start {
  margin-top: 40px;
  width: 25%;
}

.btn-log-in {
  border: 1px solid var(--main-color);
  width: 100%;
  height: 40px;
  border-radius: 8px;
  color: var(--main-color);
  background: white;
  cursor: pointer;
  font-weight: 700;
}

.btn-log-in:hover {
  background: var(--main-color);
  color: white;
}
