.btn-start {
  background: var(--main-color);
  color: white;
  padding: 10px 24px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
}

.btn-start:hover {
  transform: translateY(-14px);
  transition: transform 0.5s;
}

.banner-content .btn-start {
  margin-top: 40px;
  width: 25%;
}

.try-yourself-card .btn-start, .modal-counter-users .btn-start, #numbers .btn-start {
  width: 34%;
  margin: 34px auto auto;
  display: block;
  padding: 18px 20px;
}

#numbers .btn-start {
  width: 20%;
}

.btn-log-in, .btn-submit {
  border: 1px solid var(--main-color);
  width: 100%;
  height: 40px;
  border-radius: 8px;
  color: var(--main-color);
  background: white;
  cursor: pointer;
  font-weight: 700;
}

.btn-log-in:hover, .btn-submit:hover {
  background: var(--main-color);
  color: white;
}

.btn-hack {
  width: 155px;
  border: 1px solid white;
  padding: 14px 20px;
  border-radius: 8px;
  position: absolute;
  display: inline-block;
  color: white;
  text-align: center;
  bottom: 14px;
  left: 86px;
}

.btn-hack:hover {
  background: white;
  color: var(--color-paragraphs);
  transition: all 0.5s;
}

/* APPLICATION */
/*.main-buttons {
  margin-top: 50%;
}*/

.main-buttons {
  margin-top: 40px;
  flex-grow: 1;
}

.main-buttons p {
  font-weight: 600;
  color: var(--color-paragraphs);
  font-size: 14px;
}

.active-btn {
  background: white;
  opacity: 1;
  border-left: 8px solid var(--main-color);
  box-shadow: 0px 4px 40px rgba(0,0,0,0.25);
  border-radius: 8px 0px 0px 8px;
  margin-left: 30px;
  transition: all 0.3s;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  /*margin-top: 20px;*/
  padding: 20px 30px 20px 30px;
  transition: all 0.3s;
}

.log-out {
  justify-content: center;
  margin-top: 80px;
}

.log-out .fa-power-off {
  opacity: 0.5;
}

.log-out:hover .fa-power-off {
  opacity: 1;
}

.btn i {
  margin-right: 10px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  opacity: 1;
  background: var(--main-color);
  padding: 8px;
}

.log-out {
  margin-bottom: 40px;
}
