input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid lightgray;
  background: white;
}

.input-password {
  margin-top: 20px;
  margin-bottom: 40px;
}

.login-form {
  text-align: center;
}

.banner-form {
  box-shadow: 0px 4px 40px rgba(0,0,0,0.25);
  padding: 20px 25px;
  border-radius: 8px;
  background: white;
  width: 35%;
}

.transfer-modal-form, .loan-modal-form, .delete-account-modal-form {
  margin-bottom: 20px;
}

/* TRANSFER MONEY */
.form-input-row {
  margin-bottom: 20px;
}


/* CREATE ACCOUNT */
.create-account-form {
  width: 40%;
  box-shadow: var(--shadow-cards);
  padding: 20px 40px;
  border-radius: 8px;
  margin-top: 40px;
}

.create-account-form h4 {
  text-align: center;
}

.create-account-form .btn-submit {
  margin-bottom: 40px;
}
