.modal {
  border-radius: 8px;
  background: white;
  width: 30.5%;
  padding: 30px;
  z-index: 1000;
  position: fixed;
}

/* USERS COUNTER */

.modal-counter-users {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  left: 500px;
  top: 250px;
  width: 24%;
  margin: 0 auto;
  /*transform: translateY(-14px);*/
  transition: all 0.5s;
}

.modal-counter-users p:first-child {
  color: white;
  font-weight: bold;
  font-size: 90px;
  padding: 40px 0px;
  margin: 0;
}

.modal-counter-users p:last-child {
  color: #BABABA;
  font-weight: bold;
  margin-top: 0px;
  padding-bottom: 20px;
}

.modal-counter-users .modal-content {
  background: var(--background-banner);
  border-radius: 20px;
}

/* TRANSFER MODAL */

.transfer-modal {
  top: 224px;
  left: 268px;
}

/* TRANSFER MODAL CONFIRMATION */

.transfer-modal-confirmation {
  top: 414px;
  left: 15px;
  padding: 0px;
  width: 42%;
}

.transfer-modal-confirmation .btns-confirmation-cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid var(--main-color);
}

.avatar-info {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 20px;
}

.btns-confirmation-cancel p {
  margin: 20px 0px 20px 0px;
}

.cancel, .confirm {
  padding: 0px 30px 0px;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.cancel {
  font-weight: light;
}

.confirm {
  font-weight: bold;
  color: white;
  background: var(--main-color);
  border-radius: 0px 0px 7px 0px;
}

.transfer-modal-confirmation .info-user {
  padding: 30px;
}

/* REQUEST MODAL */
.loan-modal {
  top: 301px;
  left: 268px;
}

/* DELETE ACCOUNT */

.delete-account-modal {
  top: 373px;
  left: 268px;
}


