.modal {
  border-radius: 8px;
  background: white;
  width: 30.5%;
  padding: 30px;
  z-index: 1000;
  position: fixed;
}

.transfer-modal {
  top: 151px;
  left: 268px;
}

.transfer-modal-confirmation {
  top: 396px;
  left: 15px;
  padding: 0px;
  width: 42%;
}

.transfer-modal-confirmation .btns-confirmation-cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid var(--main-color);
}

.avatar-info {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 20px;
}

.btns-confirmation-cancel p {
  margin: 20px 0px 20px 0px;
}

.cancel, .confirm {
  padding: 0px 30px 0px;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.cancel {
  font-weight: light;
}

.confirm {
  font-weight: bold;
  color: white;
  background: var(--main-color);
  border-radius: 0px 0px 7px 0px;
}

.transfer-modal-confirmation .info-user {
  padding: 30px;
}

/* REQUEST MODAL */
.loan-modal {
  top: 237px;
  left: 269px;
}
}
