.movements-type-withdraw, .movements-type-deposit {
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 10px;
  border-radius: 20px;
}

.movements-type-withdraw {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.movements-type-deposit {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
